<ion-view view-title="{{ 'DASHBOARD' | translate }}">
  <ion-content class="padding">
    <h4>{{ 'RECENT_DOCUMENTS' | translate }}</h4>
    <div class="list" ng-repeat="doc in recentDocuments">
      <div class="item item-button-right">
        {{ doc.name }}
        <div class="buttons">
          <button class="button button-positive">
            <i class="icon ion-android-create"></i>
          </button>
          <button class="button button-assertive">
            <i class="icon ion-android-share-alt"></i>
          </button>
        </div>
      </div>
  </div>
  </ion-content>
</ion-view>
